<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>导航</title>
	<link rel="stylesheet" type="text/css" href="../../../../static/css/easyui_3.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/css/icon_2.css">
	<link rel="stylesheet" type="text/css" href="../../../../static/css/css_2.css">
	<script type="text/javascript" src="../../../../static/js/jquery.min_3.js"></script>
	<script type="text/javascript" src="../../../../static/js/jquery.easyui.min_2.js"></script>
</head>

<body class="left-body">
	<div class="easyui-accordion lee-menu-class" data-options="fit:true,border:false">
		<div title="销售订单管理" data-options="selected:true">
			<ul class="lee-menu-list">
				<li onclick="addPanel('../Order/olist.html',this)" data-id="3" data-name="销售订单管理">销售订单列表</li>
				<li onclick="addPanel('../Payment/refund_apply_list.html',this)" data-id="3" data-name="销售订单管理">退款单申请列表</li>
			</ul>
		</div>
		<div title="用户管理">
			<ul class="lee-menu-list">
				<li onclick="addPanel('../Customer/cuslistnew.html',this)" data-id="14" data-name="用户管理">用户列表</li>
			</ul>
		</div>
		<div title="营销管理">
			<ul class="lee-menu-list">
				<li onclick="addPanel('../Daybuy/index.html',this)" data-id="176" data-name="营销管理">每日疯抢</li>
			</ul>
		</div>
		<div title="内容管理">
			<ul class="lee-menu-list">
				<li onclick="addPanel('../Article/a_index.html',this)" data-id="150" data-name="内容管理">文章列表</li>
				<li onclick="addPanel('../Article/add_article.html',this)" data-id="150" data-name="内容管理">新增文章</li>
				<li onclick="addPanel('../Article/cat.html',this)" data-id="150" data-name="内容管理">文章分类管理</li>
				<li onclick="addPanel('../Article/special_list.html',this)" data-id="150" data-name="内容管理">专题广告列表</li>
			</ul>
		</div>
	</div>
</body>
<script type="text/javascript">
	function addPanel(url, _this) {
		var title = $(_this).data('name'),
			id = $(_this).data('id');
		window.parent.addPanel(url, title, id);
	}
</script>

</html>
