<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{block name='title'}六星erp{/block}</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/easyui.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/icon.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/css.css">
{block name='css'}{/block}
<script type="text/javascript" src="__PUBLIC__/static/js/jquery.min_1.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/swfobject.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/js/web_socket.js"></script>
{block name='js'}{/block}
{block name='style'}{/block}
</head>
{block name='content'}{/block}
{block name='script'}{/block}
</html>